html, body {
  font-family: 'Lato', sans-serif;
  background-color: #D3C5BF;
  color:#30211A;
}
.header {
  background-color: #856754;
  background-position: center;
  background-size: cover;
  padding: 20px;
}
.header h1{
  color: white;
  background-color: #856754;
  font-size: 60px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}
.content {
  width: 80%;
  margin: auto;
  font-size: 20px;
  text-align: left;
  line-height: 1.5;
}
img{
  width:80%;
  padding: 60px 50px 40px 60px;
  margin: auto;
}

.content a{
  color: #30211A;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #856754;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #742D2F;
}

.ul1 {
  display: inline-block;
  text-align: left;
  background-color: #D3C5BF;
  line-height: 1.5;
}

.footer {
  background-color: #D3C5BF;
  margin-top: 200px;

}
.footer p{
  color: #30211A;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  margin: 0px;
}
@media only screen and (min-width: 1000px){
  .content{
    width: 85%;
  }

  li {
    float: left;
  }
  .column {
    float: left;
    width: 40%;
    padding: 5%
  }
  .ul1 {
    display: inline-block;
    text-align: left;
    background-color: #D3C5BF;
    line-height: 1.5;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

}
@media only screen and (min-width: 1025px){
  .content{
    width: 60%;
  }

  .header h1{
    font-size: 60px;
  }

  li {
    float: left;
  }

  .column {
    float: left;
    width: 35%;
    padding: 5%
  }
  .ul1 {
    display: inline-block;
    text-align: left;
    background-color: #D3C5BF;
    line-height: 1.5;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}



